<app-error-banner [errors]="errors" [bannerShown]="bannerShown"></app-error-banner>

<section class="app__form">
  <div class="app__form--container">
    <h1 class="app__form--container--header">Sign-in</h1>
    <form
      [formGroup]="loginForm"
      (ngSubmit)="login(); $event.stopPropagation()"
      role="form"
      class="app__form--content">
      <div class="form-group">
        <label for="email">Email:</label>
        <input
          type="email"
          id="email"
          name="email"
          formControlName="email"
          autocomplete="email"
          placeholder="valid email address">
      </div>

      <div class="form-group">
        <div class="form-group__actions">
          <label for="password">
            Password:
          </label>
          <span (click)="showPassword()" *ngIf="!passwordShown">Show password</span>
          <span (click)="hidePassword()" *ngIf="passwordShown">Hide password</span>
        </div>
        <input
          [type]="passwordShown ? 'text' : 'password'"
          id="password"
          name="password"
          formControlName="password"
          placeholder="min: 8 characters"
          autocomplete="password">
      </div>

      <div class="actions">
        <label>
          <input type="checkbox">
          Remember me
        </label>
        <button type="submit" [disabled]="!loginForm.valid">Sign-in</button>
      </div>

      <div class="helpers">
        <a routerLink="/password-recover">Forgot your password?</a>
        <a routerLink="/sign-up">Register instead</a>
      </div>
    </form>
  </div>
</section>

