@import "../../assets/scss/forms";
.app__form--errors {
  width: 30%;
  max-width: 30%;
  margin: 30px auto;
  padding: 20px;
  color: $pure-dark;
  border-radius: 10px;
  box-shadow: $box-shadow-intensity-smooth;
  background: $pure-white none;

  &__list {
    list-style: none;
  }

  &__list--item {
    line-height: 2;
  }
}
