@import "./mixins";
@import "./colors";
@import "./variables";

.app__form {
  width: 100%;
  max-width: 100%;
  margin: 30px 0;

  &--container {
    width: 30%;
    max-width: 30%;
    padding: 10px;
    margin: 0 auto;
    background-color: $pure-white;
    border-radius: 5px;
    box-shadow: $box-shadow-intensity-medium;
  }

  &--container--header {
    @include header(50, $background-grey-bold-color);
    text-align: center;
  }

  &--container--wrapper {
    width: 90%;
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
  }

  &--content > * {
    width: 50%;
  }

  &--content .form-group {
    margin: 40px auto;

    label {
      display: block;
      text-align: left;
    }

    .form-group__actions {
      @include flex-between;
      align-items: center;

      span {
        cursor: pointer;
        &:hover {
          opacity: 0.7;
        }
      }
    }

    input {
      @include input($background-grey-bold-color-opacity);
      opacity: 0.8;
      width: 100%;
      max-width: 100%;
      margin-top: 5px;
      padding: 5px 8px;
    }
  }

  .actions {
    margin: 30px auto;
    @include flex-between;
    align-items: center;

    button {
      @include button($button-background-color, 2px, true);
      font-size: 1.2rem;
      margin-top: 10px;

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
        box-shadow: none;
      }
    }

  }

  .helpers {
    margin: 50px auto;

    a {
      line-height: 2;
      margin: 30px auto;
      display: block;
      text-align: left;
    }
  }
}
