@import "../../assets/scss/forms";
.result {
  width: 30%;
  background: $pure-white;
  border-radius: 5px;
  box-shadow: $box-shadow-intensity-medium;
  margin: 20px auto;
  padding: 10px;

  &__header {
    @include header(18, $pure-dark);
    line-height: 2;
    border-bottom: 1px solid lighten($background-grey-bold-color, 40%);
    margin-bottom: 10px;
  }

  &__paragraph {
    @include paragraph(14, $pure-dark, 2);

    &--muted {
      color: lighten($pure-dark, 30%);
    }
  }
}
