<section class="app__form--errors" *ngFor="let error of errors">
  <p>{{error}}</p>
</section>

<section class="app__form">
  <div class="app__form--container">
    <h1 class="app__form--container--header">Sign-in</h1>
    <form [formGroup]="registerForm" (ngSubmit)="register(); $event.stopPropagation()" role="form" class="app__form--content">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" formControlName="name" autocomplete="name">
      </div>

      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" formControlName="email" autocomplete="email">
      </div>

      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" formControlName="password" autocomplete="password">
      </div>

      <div class="actions">
        <label>
          <input type="checkbox">
          Remember me
        </label>
        <button type="submit" (click)="register()">Sign-in</button>
      </div>

      <div class="helpers">
        <a routerLink="/sign-in">Already have account?</a>
      </div>
    </form>
  </div>
</section>

<section class="result" *ngIf="formSent">
  <h2 class="result__header">User created</h2>

  <p class="result__paragraph">
    Name: {{registerForm.controls.name.value}}
  </p>
  <p class="result__paragraph">
    Email: {{registerForm.controls.email.value}}
  </p>
  <p class="result__paragraph">
    Password: <i class="result__paragraph--muted">Your chosen password</i>
  </p>
</section>
