@import "../../assets/scss/colors";
@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.navigation {
  width: 100%;
  max-width: 100%;
  background-color: $pure-white;
  box-shadow: $box-shadow-intensity-smooth;

  &__wrapper {
    padding: 15px;
    width: 70%;
    margin: 0 auto;
    @include flex-between;
  }

  &__wrapper .brand {
    @include header(23, $pure-dark ,1);
    transition: color 0.3s ease-in-out;

    &:hover {color: rgb(6, 140, 243);}
  }

  &__wrapper .links-list .list-item {
    display: inline-block;
    margin: 0 10px;
    font-size: 19px;
  }

  &__wrapper .links-list:nth-child(2) .list-item a {
    color: rgba(103, 103, 103, 0.6);
    font-size: 21px;
  }
}
