<nav id="nav" class="navigation" role="navigation" aria-label="Page navigation">
  <div class="navigation__wrapper">
    <a class="brand" id="brand">Bartosz Pazdur Forum</a>
    <ul class="links-list">
      <li class="list-item"><a href="" class="link">Portfolio</a></li>
      <li class="list-item"><a href="" class="link">Blog</a></li>
    </ul>
    <ul class="links-list">
      <li class="list-item"><a href="" class="link">Login</a></li>
      <li class="list-item"><a href="" class="link">Register</a></li>
    </ul>
  </div>
</nav>
