.navigation {
  width: 100%;
  max-width: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  &__wrapper {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 0 auto;
  }

  &__wrapper .brand {
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 22px;
    transition: color 0.3s ease-in-out;

    &:hover {color: rgb(6, 140, 243);}
  }

  &__wrapper .links-list .list-item {
    display: inline-block;
    margin: 0 10px;
    font-size: 19px;
  }

  &__wrapper .links-list:nth-child(2) .list-item a {
    color: rgba(103, 103, 103, 0.6);
    font-size: 21px;
  }
}
