@import "../../assets/scss/colors";
@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.navigation {
  width: 100%;
  max-width: 100%;
  background-color: $pure-white;
  box-shadow: $box-shadow-intensity-smooth;

  &__wrapper {
    padding: 15px;
    width: 70%;
    margin: 0 auto;
    @include flex-between;
  }

  &__wrapper .brand {
    @include header(23, $pure-dark, 1, true);
  }

  &__wrapper .burgerMenu {
    align-items: center;
    @include flex-between;
  }

  &__wrapper .burgerMenu .burgerMenu-icon {
    margin: 0 15px;
    cursor: pointer;
    font-size: 1.5rem;
  }

  &__wrapper .links-list .list-item {
    display: inline-block;
    margin: 0 10px;
    font-size: 19px;
  }

  &__wrapper .links-list .list-item > .link {
    @include button(initial, 2px, true);
    padding: 8px 20px;
  }
}
