<footer class="app__footer" id="footer" role="contentinfo">
  <div class="app__footer--wrapper">
    <p class="app__footer--wrapper-copyrights">Bartosz Pazdur Forum &copy; 2020 {{getDate === 2020 ? '-' : ''}} {{getDate}}</p>
    <div class="app__footer--wrapper-socials">
      <a href="https://www.facebook.com/bartosz.pazdur.1/">
        <fa-icon [icon]="faFacebook" class="app__footer--wrapper-socials-link">
        </fa-icon>
      </a>

      <a href="https://github.com/BrittleHeart">
        <fa-icon [icon]="faGithub" class="app__footer--wrapper-socials-link">
        </fa-icon>
      </a>

      <a href="https://gitlab.com/BrittleHeart">
        <fa-icon [icon]="faGitlab" class="app__footer--wrapper-socials-link">
        </fa-icon>
      </a>
    </div>
  </div>
</footer>
