@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&display=swap');

*, *::before, *::after {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: rgb(238, 241, 245);
}

a {
  cursor: pointer;
  text-decoration: none;
  color: rgb(6, 140, 243);

  &:hover {opacity: 0.8;}
}

ul {
  list-style: none;
}
