<section class="app__dashboard" id="dashboard">
  <div class="app__dashboard--wrapper">
    <div class="app__dashboard--wrapper__profile-details">
      <figure class="app_dashboard--wrapper__profile-details-banner">
        <img src="../../assets/images/dashboard__banner.png" alt="Dashboard banner" class="image" style="width: 100%;">
      </figure>
      <div class="app__dashboard--wrapper__profile-details-heading">
        <h1 class="app__dashboard--wrapper__profile-details-header">Bartosz Pazdur</h1>

        <div class="timestamps">
          <p class="timestamps--info">Joined at 24.04.2020</p>
          <p class="timestamps--info">Modified at 24.04.2020</p>
        </div>
      </div>
      <div class="app__dashboard--wrapper__profile-details--wrapper">
        <div class="app__dashboard--wrapper__profile-details--detail">
          <h2 class="app__dashboard--wrapper__profile-details--detail--header">Address email</h2>
          <p class="app__dashboard--wrapper__profile-details--detail--info">b.pazdur@onet.pl</p>
        </div>
        <div class="app__dashboard--wrapper__profile-details--detail">
          <h2 class="app__dashboard--wrapper__profile-details--detail--header">Full name</h2>
          <p class="app__dashboard--wrapper__profile-details--detail--info">Bartosz Pazdur</p>
        </div>
        <div class="app__dashboard--wrapper__profile-details--detail">
          <h2 class="app__dashboard--wrapper__profile-details--detail--header">Country</h2>
          <p class="app__dashboard--wrapper__profile-details--detail--info">Poland</p>
        </div>
      </div>
      <div class="actions">
        <a routerLink="/password-recover" class="link">Change password</a>
        <button class="action--button">Delete profile</button>
      </div>
    </div>
    <div class="app__dashboard--wrapper__profile-info">
      <h1 class="app__dashboard--wrapper__profile-info--header">Profile info</h1>
      <p class="app__dashboard--wrapper__profile-info--content">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus architecto doloremque et excepturi, facilis iste magnam officiis! Accusamus accusantium, beatae cupiditate dicta dolor doloremque, eveniet, excepturi fuga fugit laborum molestiae provident quas quidem recusandae reprehenderit repudiandae sint ut vel voluptates!
      </p>
    </div>
  </div>
</section>
